*{
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 30%;
    border: none;
    box-shadow: 5px 5px 10px #034159;
}
.container h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 10px;
    color: #777;
    margin-bottom: 0;
}
.container .form{
    padding: 10px 10px;
    /* border: 1px solid gray; */
}
.container .form-control{
    display: inline;
    width: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    background-color: #f2f2f2;

    margin: 10px 10px;
    padding: 8px;
}
.form-control::placeholder{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.container .form .btn{
    border: none;
    outline: none;
    padding:8px;
    /* background: #777; */
    /* color: #f2f2f2; */
    border-radius: 4px;
}
.container .form .btn:hover{
    background: #034159;
    color: white;
}

.container .list-group{
    margin-left: 20px;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.container .list-group .list-group-item{
    padding: 10px 10px;
}